/* ALL Selector */
body{
    margin: 0px;
    background-image: url("https://i.pinimg.com/originals/06/00/4f/06004f935523ce212b412474297a3810.gif");
    background-size: 100%;
}

div#welcome{
    font-family: 'Coustard', serif;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 63px;
    padding: 10px;
    margin: 0;   
}
div a{
    font-family: serif;
    color: white;
    cursor: no-drop;
    text-decoration: none;
    font-size: 15px;
    margin-left: 60;
}