body{		
margin: 0px;	
background-image: url("../img/back.png");
background-size: 100%;
}
{
  color: white;
  margin-left: 100;
}
#wellcome{
  font-size: 80px;
  margin-top: 200;
}
p,a{
  text-decoration: none;
  color: #C5C0C0;
}